<aside id="myHeader">

    <nav class="navbar">

        <div class="logo-part"><a href="">Prince Sharma</a></div>
        <ul class="navigation">
            <li>
                <a skipLocationChange routerLink="./home">

                    <p>Home</p>
                </a>
            </li>
            <a skipLocationChange routerLink="./about">

                <p>About</p>
            </a>

            <li>
                <a skipLocationChange routerLink="./services">

                    <p>Services</p>
                </a>
            </li>
            <li>
                <a skipLocationChange routerLink="./contact">

                    <p>Contact</p>
                </a>
            </li>

            <li><a (click)="link.teacher()">Teacher Details</a></li>
            <li><a (click)="link.student()">Student Details</a></li>
            <li><a href="#">Logout</a></li>

        </ul>


    </nav>

</aside>